<html>
    <head>
        <link rel="stylesheet" href="./assets/css/IT.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.2.0/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="./assets/angular/code.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="data_get">
        <nav role="navigation" class="navbar navbar-default" style="position: fixed; top: 0; width: 100%; z-index: 5;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Rental system</a>
            </div>
            <!-- Collection of nav links and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://10.66.5.27:3004/" id="NavN">Groups</a></li>
                    <li class="active"><a href="http://10.66.5.27:3004/List.html" id="NavC">List</a></li>
                    <li><a href="http://10.66.5.27:3004/CheckIn.html" id="NavN">Check In</a></li>
                    <li><a href="http://10.66.5.27:3004/CheckOut.html" id="NavN">Check Out</a></li>
                    <li><a href="http://10.66.5.27:3004/AddItem.html" id="NavN">Add Item</a></li>
                    <!--<li class="active"><a href="#/central" id="NavC">Central</a></li>
                    <li><a href="#/north" id="NavN">North</a></li>
                    <li><a href="#/south" id="NavS">South</a></li>
                    <li><a href="#/wr" id="NavWR">West River</a></li>
                    <li><a href="#/keystone" id="NavK">Keystone</a></li>
                    <li><a href="#/bookmobile" id="NavB">Bookmobile</a></li>-->
                    <!--<li><a href="#/mp" id="NavB">My Projects</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#">Login</a></li>-->
                </ul>
            </div>
        </nav>
        <div style="margin-top:100px;"></div>
        <!-- x is the pointer for the sql return. Basically, whatever sql is used in the controller is what is returned. From there use {{x.(variable in database)}} to get data -->
        <div class="col-md-2 hidden-xs hidden-sm"></div>
        <div class="col-md-8">
            <div><input type="input" ng-model="search" placeholder="search"></div>
            <table class="table table-striped">
                <tr>
                    <td>Image</td>
                    <td>Desc</td>
                    <!--<td>Status</td>-->
                    <td>Group</td>
                    <td>Manufacturer</td>
                    <td>Barcode</td>
                </tr>
                    <!--ng-repeat allows for autogeneration of tables -->
                <tr ng-repeat="x in x|filter:search">
                    <td><div ><div class="col-xs-12">{{x.v_id}}</div><div class="col-xs-12"><a ng-href="" ng-click="Card(x.v_id)" data-toggle="modal" data-target="#myModal"><img ng-src="./assets/img/{{x.v_id}}.jpg" alt="Description" style="max-width: 200px;max-height:200px;"/></a></div></div></td>
                    <td>{{x.v_Description}}</td>
                    <!--<td>{{x.v_Status}}</td>-->
                    <td>{{x.v_Group}}</td>
                    <td>{{x.v_Manufacturer}}</td>
                    <td>{{x.v_Barcode}}</td>
                </tr>
            </table>
        </div>
        
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body" style="text-align: center; ">
                <img ng-src="./assets/img/{{img}}.jpg" alt="Image Placeholder" style="max-width: 500px;"/>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
    </body>
    <footer>
        
    </footer>
</html>